<div class="left-rail-item featured">
    <h3>Featured</h3>
    <div class="row featured-intro">
        <img src="/images/barclays-logo.png" alt="Barclays Coffee and Tea" class="col-md-4" >
        <div class="col-md-8">
            <p><i>"Barclays is your neighborhood coffee and tea shop.  A lotta bit of love in every little cup."</i></p>
        </div>
    </div>
    <div class="row featured-content">
        <p class="col-md-12">
            We created an e-commerce website for Barclays using the Shopify API.  This allows Barclays to have their own amazing look and feel while
            taking advantage of Shopify's robust e-commerce technology.
        </p>
    </div>
</div>
<div class="left-rail-item blog">
    <h3>Testimonials</h3>
        <div class="col-md-12">
            <p><i>"For the past 15 years i've counted on Claymind for various projects and they have always delivered what they promised."</i></p>
            <p class="col-md-12">
                Paco Arespacochaga, CEO - 2Heaven Solutions
            </p>
        </div>
</div>
