<nav class="row navbar" ng-controller="NavbarCtrl" role="navigation">

    <div class="col-sm-12">
        <ul class="nav nav-pills row">
            <!--<li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">-->
            <!--<a ng-href="{{item.link}}">{{item.title}}</a>-->
            <!--</li>-->
            <li class="col-sm-2"><a href="#" class="btn">Home</a></li>
            <li class="col-sm-2"><a href="#" class="btn">About Us</a></li>
            <li class="col-sm-2"><a href="#" class="btn">Portfolio</a></li>
            <li class="col-sm-2"><a href="#" class="btn">Services</a></li>
            <li class="col-sm-2"><a href="#" class="btn">Contact Us</a></li>
        </ul>
    </div>

</nav>

