<div class="col-md-12">
        <ul class="nav nav-pills nav-justified">
            <!--<li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">-->
            <!--<a ng-href="{{item.link}}">{{item.title}}</a>-->
            <!--</li>-->
            <li><a href="#" class="btn">Home</a></li>
            <li><a href="#" class="btn">About Us</a></li>
            <li><a href="#" class="btn">Portfolio</a></li>
            <li><a href="#" class="btn">Services</a></li>
            <li><a href="#" class="btn">Contact Us</a></li>
        </ul>
</div>

