{% extends 'layout/global.html' %}

{% block title %}Claymind LLC{% endblock %}

{% block head %}
{% parent %}
{% endblock %}

{% block nav %}
    {% include 'partials/navbar.html' %}
{% endblock %}

{% block content %}
<div class="flexslider">
    <ul class="slides">
        <li>
            <img src="images/web-design.png" />
        </li>
        <li>
            <img src="images/online-shopping.png" />
        </li>
        <li>
            <img src="images/customer-service.png" />
        </li>
    </ul>
</div>

<div class="description">
    <h1>Welcome!</h1>
    <p>
        We are a technology consulting firm based in Los Angeles, California.
    </p>
    <p>
        We are committed to help you grow your business by automating your business processes and getting you up to speed with the latest and most reliable technology at very affordable rates.
    </p>
</div>

<p class="skills">
    <img src="images/angular.png" alt="Angular Js" />
    <img src="images/nodejs.png" alt="Node Js" />
    <img src="images/express.png" alt="Express Js" />
    <img src="images/aspnet.png" alt="ASP.NET MVC" />
    <img src="images/sql-server.jpeg" alt="SQL Server" />
    <img src="images/xamarin-logo.jpg" alt="Xamarin" />
    <img src="images/awslogo.png" alt="AWS" />
    <img src="images/shopify_experts.png" alt="Shopify Experts" />
    <img src="images/yeoman.png" alt="Yeoman" />
    <img src="images/grunt-logo.png" alt="Grunt" />
    <img src="images/bower.png" alt="Bower" />
    <img src="images/bootstrap.jpeg" alt="Twitter Bootstrap" />
    <img src="images/foundation.jpg" alt="Zurb Foundation" />
    <img src="images/html5-css.png" alt="HTML5 CSS Javascript" />
    <img src="images/jquery.jpeg" alt="JQuery" />
    <img src="images/github.jpeg" alt="GitHub" />

</p>
{% endblock %}

{% block bottomjs %}
{% parent %}
<script type="text/javascript" charset="utf-8">
    $(window).load(function() {
        $('.flexslider').flexslider({
            controlNav: false
        });
    });
</script>
{% endblock %}