{% extends 'layout/global.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
{% parent %}
{% endblock %}

{% block nav %}
{% include 'partials/navbar.html' %}
{% endblock %}

{% block content %}
<h1>Portfolio</h1>
<p>Here are some of our happy clients</p>
<div class="client-images">
    <img src="images/barclays-logo.png" alt="Barclays Coffee and Tea" />
    <img src="images/mymusicgearlogo.jpg" alt="My Music Gear" />
    <img src="images/laftrip_logo.png" alt="Laftrip" />
</div>
{% endblock %}


{% block bottomjs %}
{% parent %}

{% endblock %}