{% extends 'layout/global.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
{% parent %}
{% endblock %}

{% block nav %}
{% include 'partials/navbar.html' %}
{% endblock %}

{% block content %}
<h1>Services</h1>
<ul>
    <li>Web Design and Logos</li>
    <li>Websites and Apps</li>
    <li>Databases</li>
    <li>Social Media Marketing</li>
    <li>Search Engine Optimization (SEO)</li>
    <li>Consulting and Training</li>
</ul>
{% endblock %}

{% block bottomjs %}
{% parent %}

{% endblock %}